/* Reset rule */
* {
    box-sizing: border-box;
    font-family:cursive;
    margin: 0;
}

body {
    background-image: url("images/Newspaper1_tra80.png");
    background-size: cover;
    background-repeat: no-repeat;

}

.thick_outliner {
    font-size: 50px;
    font-weight: 800;
    /* Adds outline to letters */
    text-shadow: -2px -1px 0 white, 2px -1px 0 white, -2px 1px 0 white, 2px 1px 0 white;
}

.thin_outliner {
    /* Adds outline to letters */
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
}

/* Displays top menus side-by-side */
.navlist {
    display: inline;
    text-align: center;
}

.a_navbar {
    display: inline-block;
    width: 25%;
    padding: auto;
    margin: 11px 0;
    text-decoration: none;
    text-align: center;
    color: #333;
}

/* Stylise the buttons by adding hover over colouring */
hr {
    height: 90px;
    width: 25%;
    margin: -95px 0;
    background: linear-gradient(to right, #01c011 0%, #016335 100%);/*#ffff00 0%, #ff3399 100%);*/
    border: none;
    border-radius: 50px;
    transition: .5s ease-in-out;
}

/* Set different effect margins for each navigation button, need to figure out how to do this relative to text */
.two:hover ~ hr { margin-left: 26%;}
.three:hover ~ hr { margin-left: 52%;}

/* Attributes for the horizontal navigation bar */
.container {
    margin-top: 4%;
    position: absolute;
    justify-content: center;
}

.ponzee_container {
    position: absolute;
    top: 5%;
    left: 55%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 25%;
}

.parastyle {
    height: 100%;
    width: 50%;
    margin: 10% auto;
    justify-content: center;
    border:1px solid black;
    background-color: rgb(177, 177, 177, 0.7);
}

/* Style for the code*/
.codestyle {
    margin-top: 15%;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    opacity: 1;
    font-weight: bold;
}

.div_text {
    height: 100%;
    width: 70%;
    margin: 0 auto;
}

.p1_style {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.ponz {
    height: 450px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}